
<br><br>
<h1 style="text-align: center;">Search Your Question Papers Here!!</h1>
<div class="row col-md-12" style="margin-left: 35px;">
  
    <div class="col-md-3">

        <!-- <h4>Subject</h4> -->
        <mat-form-field appearance="fill">
            <mat-label>Select tyour Subject</mat-label>
            <mat-select matNativeControl required [formControl]="subjectControl">
            <mat-option value="Operating System">Operating System</mat-option>
            <mat-option value="Java">Java</mat-option>
            <mat-option value="DBMS">DBMS</mat-option>
            <mat-option value="OOPS">OOPS</mat-option>
            <mat-option value="Data Structures">Data Structures</mat-option>
            <mat-option value="Fluid Mechanics">Fluid Mechanics</mat-option>
            </mat-select>
            <mat-error *ngIf="subjectControl.hasError('required')">
                This field is required
              </mat-error>
              <mat-hint>Select the Subject</mat-hint>
        </mat-form-field>
        </div>

    <div class="col-md-3">
        <mat-form-field appearance="fill">
            <mat-label>Select your College</mat-label>
            <mat-select  matNativeControl required [formControl]="collegeNameControl">
           
            <mat-option value="IIT Bombay">IIT Bombay</mat-option>
            <mat-option value="IIT Kanpur">IIT Kanpur</mat-option>
            <mat-option value="IIT Banglore">IIT Banglore</mat-option>
            <mat-option value="IIT Delhi">IIT Delhi</mat-option>
            <mat-option value="IIT Mumbai">IIT Mumbai</mat-option>
            </mat-select>
            <mat-error *ngIf="collegeNameControl.hasError('required')">
                This field is required
              </mat-error>
              <mat-hint>Select the College Name</mat-hint>
        </mat-form-field>
        </div>

        <div class="col-md-3">
            <mat-form-field appearance="fill">
                <mat-label>Select Your Course</mat-label>
                <mat-select matNativeControl required [formControl]="courseControl">
                <!-- <mat-option>All</mat-option> -->
                <mat-option value="BE">BE</mat-option>
                <mat-option value="B-Tech">B-Tech</mat-option>
                </mat-select>
                <mat-error *ngIf="courseControl.hasError('required')">
                    This field is required
                  </mat-error>
                  <mat-hint>Select the Course</mat-hint>
            </mat-form-field>
            </div>

            <div class="col-md-3">
                <br>
<button (click)=" filterQuestionPapers()" style="margin-left: 10%;background-color: rgb(255, 0, 0);width: 150px; color: white;"mat-button color="warn">Search</button>

                </div>    
</div>

<br><br>

<div class="row col-md-11" style="overflow-x: hidden;margin-left: 90px; max-width: 100%;">
    <div class="col-md-4" *ngFor="let questionpaperdata of Qdata">
        <mat-card class="matcard">
            <img style="margin-left: 35px" src="{{questionpaperdata.qimage}}">
            <br><br>
            <div class="row">
                <div class="col-md-9">
            <label>Subject:{{questionpaperdata.subjectname}}</label><br>
            </div>
            </div>
            <label>College Name:{{questionpaperdata.collegename}}</label><br>
            <label>Course:{{questionpaperdata.course}}</label><br>
            
            <br>
            <div class="row col-md-12" style="margin-left: 65px;">
                <div class="col-md-6">
                <button style="background-color: blue;width: 100%; color: white;"  (click)="openDialog()" mat-button color="accent">Download</button>
                </div>
            </div>
        </mat-card>
        <br>
    </div>
</div>
