
<div class="col-md-12 navbar">
  <a href="index.html" class="logo navbar-brand bg-transparent offset-md-2" style="color: #fff;">GEN-Z</a>
  <ul class="nav">
    <li class="nav-item active"><a href="#" class="nav-link">Home</a></li>
    <li class="nav-item"><a href="#" class="nav-link">About Us</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Contact Us</a></li>
    <li class="nav-item"><a href="" class="nav-link">SignIn</a></li>
    <li class="nav-item"><a href="" class="nav-link">SignUp</a></li>
  </ul>

<div class="navbar-container" style="min-height: 64px;overflow-x: hidden;">
  <div class="bg-dark navbar-dark position-fixed" data-sticky="top" style="overflow-x: hidden;" >
    <div class="container" style="overflow-x: hidden;">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="index.html">
          <img alt="GenZ" src="\assets\free-logo-empwa8eb4m-282fnvxsle-removebg-preview.png" style="height: 40px; padding-left: 60px;">
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <b style="color: #fff;">List</b>
        </button>
        <div class="navbar-collapse justify-content-between collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a href="index.html" class="nav-link" style="color: #fff;">Overview</a>
                </li>
                <li class="nav-item">
                  <a href="index.html" class="nav-link" style="color: #fff;">About Us</a>
                </li>
                <li class="nav-item">
                  <a href="index.html" class="nav-link" style="color: #fff;">Contact Us</a>
                </li>
              </ul>

            </div>

      </nav>
    </div>

  </div>

</div>
