<!-- 
    <div class="card">
        <div class="row col-md-12">
        <div class="imgBx col-md-6">
            <img src="https://i1.rgstatic.net/publication/331063143_A_text_book_of_ENGINEERING_MATHEMATICS-II/links/5d57d52ca6fdccb7dc42c87e/largepreview.png">
        </div>
        <div class="content col-md-6">
           
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                      <h1 class="h1-top" style="padding-top: 30px;font-size:40px">Book Details</h1>
                    </div><br>
                    
                  </div>
                </div>
                  
        </div>
    </div> -->

<!-- </div> --><br>
<h1 style="text-align: center;">Buy Section</h1>
<!-- <div class="container"> -->
  <mat-card class="matcard" style="margin-left: 20px; margin-right: 20px; padding-bottom: 10px;" >
    <div class="row">
    
      <div class="col-sm-4">
        <mat-card class="matcard" style="padding-bottom: 10px; box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;" >
        <h1 style="font-family:'Times New Roman', Times, serif; text-align: center;">Debit Card</h1>
      <div class="card-body">
        <!-- <h4 class="card-title">Card title</h4> -->


        <div class="col-md-12">  
                
          <span>Payment Method</span>
          <div class="card">

            <div class="accordion" id="accordionExample">
              
              <div class="card">
                <div class="card-header p-0" id="headingTwo">
                  <h2 class="mb-0">
                    <button class="btn btn-light btn-block text-left collapsed p-3 rounded-0 border-bottom-custom" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <div class="d-flex align-items-center justify-content-between">

                        <span>Paypal</span>
                        <img src="https://i.imgur.com/7kQEsHU.png" width="30">
                        
                      </div>
                    </button>
                  </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    <input type="text" class="form-control" placeholder="Paypal email">
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header p-0">
                  <h2 class="mb-0">
                    <button class="btn btn-light btn-block text-left p-3 rounded-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <div class="d-flex align-items-center justify-content-between">

                        <span>Debit card</span>
                        <div class="icons">
                          <img src="https://i.imgur.com/2ISgYja.png" width="30">
                          <img src="https://i.imgur.com/W1vtnOV.png" width="30">
                          <img src="https://i.imgur.com/35tC99g.png" width="30">
                          <img src="https://i.imgur.com/2ISgYja.png" width="30">
                        </div>
                        
                      </div>
                    </button>
                  </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body payment-card-body">
                    <span class="font-weight-normal card-text">Card Number</span>
                    <div class="input">

                      <i class="fa fa-credit-card"></i>
                      <input  type="text" class="form-control" placeholder="0000 0000 0000 0000" >
                     
                    </div> 
                  

                    <div class="row mt-3 mb-3">

                      <div class="col-md-6">

                        <span class="font-weight-normal card-text">Expiry Date</span>
                        <div class="input">

                          <i class="fa fa-calendar"></i>
                          <input type="text" class="form-control" placeholder="MM/YY" required>
                          
                        </div> 
                        
                      </div>


                      <div class="col-md-6">

                        <span class="font-weight-normal card-text">CVC/CVV</span>
                        <div class="input">

                          <i class="fa fa-lock"></i>
                          <input type="text" class="form-control" placeholder="000">
                          
                        </div> 
                        
                      </div>
                      

                    </div>
                    <button style="background-color: rgb(150, 198, 243);width: 100%;" (click)="openDialog()" mat-button color="primary">Make Payment</button>
                    <!-- <span class="text-muted certificate-text"><i class="fa fa-lock"></i> Your transaction is secured with ssl certificate</span> -->
                   
                  </div>
              
                </div>
              </div>
              
            </div>
            
          </div>

        </div>

        <!-- <p class="card-text">Some example text. Some example text.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a> -->
      </div>
      </mat-card>
      </div>
      
      <div class="col-sm-4" >
        <mat-card class="matcard" style="padding-bottom: 10px; box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;" >
        <h1  style="font-family:'Times New Roman', Times, serif;text-align: center;">Credit Card </h1>
      <div class="card-body">
    
        
        <div class="col-md-12">  
                
          <span>Payment Method</span>
          <div class="card">

            <div class="accordion" id="accordionExample">
              
              <div class="card">
                <div class="card-header p-0" id="headingTwo">
                  <h2 class="mb-0">
                    <button class="btn btn-light btn-block text-left collapsed p-3 rounded-0 border-bottom-custom" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <div class="d-flex align-items-center justify-content-between">

                        <span>Paypal</span>
                        <img src="https://i.imgur.com/7kQEsHU.png" width="30">
                        
                      </div>
                    </button>
                  </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    <input type="text" class="form-control" placeholder="Paypal email">
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header p-0">
                  <h2 class="mb-0">
                    <button class="btn btn-light btn-block text-left p-3 rounded-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <div class="d-flex align-items-center justify-content-between">

                        <span>Credit card</span>
                        <div class="icons">
                          <img src="https://i.imgur.com/2ISgYja.png" width="30">
                          <img src="https://i.imgur.com/W1vtnOV.png" width="30">
                          <img src="https://i.imgur.com/35tC99g.png" width="30">
                          <img src="https://i.imgur.com/2ISgYja.png" width="30">
                        </div>
                        
                      </div>
                    </button>
                  </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body payment-card-body">
                    
                    <span class="font-weight-normal card-text">Card Number</span>
                    <div class="input">

                      <i class="fa fa-credit-card"></i>
                      <input type="text" class="form-control" placeholder="0000 0000 0000 0000" required>
                      
                    </div> 

                    <div class="row mt-3 mb-3">

                      <div class="col-md-6">

                        <span class="font-weight-normal card-text">Expiry Date</span>
                        <div class="input">

                          <i class="fa fa-calendar"></i>
                          <input type="text" class="form-control" placeholder="MM/YY">
                          
                        </div> 
                        
                      </div>


                      <div class="col-md-6">

                        <span class="font-weight-normal card-text">CVC/CVV</span>
                        <div class="input">

                          <i class="fa fa-lock"></i>
                          <input type="text" class="form-control" placeholder="000">
                          
                        </div> 
                        
                      </div>
                      

                    </div>
                    <button style="background-color: rgb(150, 198, 243);width: 100%;" (click)="openDialog()" mat-button color="primary">Make Payment</button>
                    <!-- <span class="text-muted certificate-text"><i class="fa fa-lock"></i> Your transaction is secured with ssl certificate</span> -->
                   
                  </div>
                </div>
              </div>
              
            </div>
            
          </div>

        </div>


        <!-- <p class="card-text">Some example text. Some example text.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a> -->
      </div>
      </mat-card >
      </div>
      
      <div class="col-sm-4">
        <mat-card class="matcard" style="padding-bottom: 10px; box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;" >
        <h1 style="font-family:'Times New Roman', Times, serif;text-align: center;">UPI</h1>

        <span class="font-weight-normal card-text">Enter UPI Id</span>
        <div class="input">

          <i class="fa fa-credit-card"></i>
          <input type="text" class="form-control" placeholder="yourname@bankname">
          <br>
        </div> 
      <div class="card-body">

        <google-pay-button style="margin-left: 55px;"
  environment="TEST"
  buttonType="buy"
  buttonColor="black"
  [paymentRequest]="{
    apiVersion: 2,
    apiVersionMinor: 0,
    allowedPaymentMethods: [
      {
        type: 'CARD',
        parameters: {
          allowedAuthMethods: ['PAN_ONLY', 'CRYPTOGRAM_3DS'],
          allowedCardNetworks: ['AMEX', 'VISA', 'MASTERCARD']
        },
        tokenizationSpecification: {
          type: 'PAYMENT_GATEWAY',
          parameters: {
            gateway: 'example',
            gatewayMerchantId: 'exampleGatewayMerchantId'
          }
        }
      }
    ],
    merchantInfo: {
      merchantId: '12345678901234567890',
      merchantName: 'Demo Merchant'
    },
    transactionInfo: {
      totalPriceStatus: 'FINAL',
      totalPriceLabel: 'Total',
      totalPrice: '100.00',
      currencyCode: 'USD',
      countryCode: 'US'
    }
  }"
  (loadpaymentdata)="onLoadPaymentData($event)"
></google-pay-button>

      </div>
      </mat-card>
      <br>
      <mat-card class="matcard" style="padding-bottom: 10px; box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;" >
        <h1 style="font-family:'Times New Roman', Times, serif;text-align: center;">Cash On Delivery</h1>
        <span class="font-weight-normal card-text"> Address</span>
        <div class="input">

          <i class="fa fa-credit-card"></i>
          <input type="text" name="address" required class="form-control" placeholder="Enter Your Full Address">
      
          <mat-checkbox style="margin-top: 10px; margin-bottom:10px; ">Save Address</mat-checkbox>
          
        </div> 
        <button style="background-color: rgb(150, 198, 243);width: 100%; margin-bottom: 15px;" (click)="openCodDialog()" mat-button color="primary">Place Order</button>
      </mat-card>
      
      </div>
      
    </div>
    
  </mat-card>
