<body>
  <section class="light">
    <div class="container py-2">
      <div class="h1 text-center text-dark" id="pageHeaderTitle">Welcome to <strong>Gen-Z</strong></div>

      <article class="postcard dark blue">
        <a class="postcard__img_link" href="#">
          <img class="postcard__img" src="\assets\toa-heftiba-ip9R11FMbV8-unsplash.jpg" alt="Image Title" style="height: 320px;"/>
        </a>
        <div class="postcard__text">
          <h1 class="postcard__title blue"><a href="#">Books</a></h1>
          <div class="postcard__subtitle small">
            <time datetime="2020-05-25 12:00:00">
            </time>
          </div>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
          <ul class="postcard__tagbox">
            <li class="tag__item play blue">
              <a href="#"><i class="fas fa-play mr-2"></i>Let's Explore &rarr;</a>
            </li>
          </ul>
        </div>
      </article>
      <article class="postcard light red">
        <a class="postcard__img_link" href="#">
          <img class="postcard__img" src="\assets\chris-liverani-rD2dc_2S3i0-unsplash.jpg" alt="Image Title" style="height: 320px;" />
        </a>
        <div class="postcard__text t-dark">
          <h1 class="postcard__title red" style="padding-left: 5px;"><a href="#">Question Papers</a></h1>
          <div class="postcard__subtitle small">
            <time datetime="2020-05-25 12:00:00">
            </time>
          </div>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
          <ul class="postcard__tagbox">
            <li class="tag__item play blue">
              <a href="#"><i class="fas fa-play mr-2"></i>Let's Explore &rarr;</a>
            </li>
          </ul>
        </div>
      </article>
    </div>
  </section>

</body>
