  <div id="main-wrapper" >
    <div class="row justify-content-center" >
        <div class="col-xl-10">
            <div class="card border-0">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="mb-5">
                                    <h1 class="h4 font-weight-bold text-theme" ><b>Login</b></h1>
                                </div>

                                <h3 class="h5 mb-0" ><b>Welcome To Genz</b></h3>
                                <p class="text-muted mt-2 mb-5">Enter your email address and password to access User panel.</p>

                                 <form  [formGroup]="StudentForm" (ngSubmit)="login()">
                                    <div class="form-group">
                                        <table class="example-full-width" cellspacing="0"><tr>
                                            <mat-form-field class="example-full-width" appearance="fill" style="width: 300px;">
                                              <mat-label>Email Address</mat-label>
                                              <input  matInput type="text" formControlName="email"  >
                                              <mat-error *ngIf="StudentForm.get('email')!.errors!==null && StudentForm.get('email')!.errors!['required']">
                                                Email is required
                                              </mat-error>
                                            </mat-form-field>
                                            </table>
                                    </div>
                                    <div class="form-group mb-2">
                                        <table class="example-full-width" cellspacing="0"><tr>
                                            <mat-form-field class="example-full-width" appearance="fill" style="width: 300px;">
                                              <mat-label>Password</mat-label>
                                              <input matInput type="password" formControlName="password">
                                              <mat-error *ngIf="StudentForm.get('password')!.errors!==null && StudentForm.get('password')!.errors!['required']">
                                                Password is required
                                              </mat-error>
                                            </mat-form-field>
                                        </table>

                                    </div>
                                    <button mat-raised-button class="btn btn-primary" style="width:300px">Login</button>
                                    <p class="text-muted text-center mt-3 mb-0" style="padding-right: 30%" >Don't have an account? <a  routerLink="/registration" class="text-primary ml-1">register</a></p>
                                </form>
                            </div>
                        </div>

                        <div class="col-lg-6 d-none d-lg-inline-block" >
                            <div class="account-block rounded-right" >
                                <div class="overlay rounded-right"></div>
                                <div class="account-testimonial">
                                    <h4 class="text-black mb-4"><b>Login To your Account</b></h4>
                                    <p class="lead text-balck"></p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



