<br>
<mat-card style="width:66.5%; background-color: #E5E4E2;" class="mx-auto">
<h1 style="text-align: center;">Book Details</h1>
</mat-card>

<br>
<mat-card class="col-md-8 mx-auto" style="background-color: #E5E4E2;">
    <div class="row col-md-12">
        <div class="col-md-6">
            <img src="https://images-na.ssl-images-amazon.com/images/W/WEBP_402378-T1/images/I/51cAM0+OWDS._SX331_BO1,204,203,200_.jpg">
        </div>
        <div class="col-md-6">
            <div class="row col-md-12">
                <div class="col-md-6">
                    <label>Book Name:</label>
                </div>
                <div class="col-md-6">
                    <label>Book Author:</label>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-6">
                    <label>College Name:</label>
                </div>
                <div class="col-md-6">
                    <label>Subject:</label>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-6">
                    <label>Seller Location:</label>
                </div>
                <div class="col-md-6">
                    <label>Seller Contact Number:</label>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-6">
                    <label>Seller Address:</label>
                </div>
                <div class="col-md-6">
                    <label>Book Price:</label>
                </div>
            </div>

            <br><br>
            <div class="row col-md-12">
                <div class="col-md-6">
                    <button style="background-color:#4CBB17;width: 100%;color: white;" mat-button color="primary">Buy</button>
                </div>
                <div class="col-md-6">
                    <button style="background-color: #313F94;width: 100%; color: white;" mat-button color="accent" >Back To Books</button>
                </div>
            </div>  
        </div>
    </div>
</mat-card>