<div class="carousel" data-ride="carousel">
  <ng-container *ngFor="let slide of slides; let i = index">
    <img
      *ngIf="i === currentSlide"
      [src]="slide.src"
      class="slide"
      @slideAnimation
    />
    <div class="carousel-caption " style="padding-bottom: 300px;">
      <teximate class="h2 display3" #teximate [text]="name" [enter]="enterAnimation"></teximate>
    </div>
  </ng-container>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" (click)="onPreviousClick()">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" (click)="onNextClick()">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
